<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="seek.codingtask">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.SET_ANIMATION_SCALE"
        tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <!--Required for A10 & below screenshot test -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"
        tools:replace="android:maxSdkVersion"/>

</manifest>
